apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "-50"
spec:
  project: infrastructure
  sources:
    - chart: argo-cd
      repoURL: https://argoproj.github.io/argo-helm
      targetRevision: 9.0.5 # specify the argocd version to install
      helm:
        releaseName: argocd
        valueFiles:
          - $argocd/manifests/base/argocd/argocd-config.yaml
    - path: manifests/base/argocd
      repoURL: git@github.com:imcbeth/homelab.git
      targetRevision: HEAD
      ref: argocd
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true