apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: pihole
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-35"
spec:
  project: default
  sources:
    - repoURL: https://mojo2600.github.io/pihole-kubernetes/
      chart: pihole
      targetRevision: 2.34.0
        valueFiles:
          - $pihole/manifests/base/pihole/config.yaml
    - repoURL: 'git@github.com:imcbeth/homelab.git'
      path: manifests/base/pihole
      targetRevision: HEAD
      ref: pihole
  destination:
    server: https://kubernetes.default.svc
    namespace: pihole
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true